node_modules
# Keep environment variables out of version control
.env
*.tsbuildinfo
tsconfig.tsbuildinfo

/generated/prisma
docs
issues.txt
category.txt
dist
ARCHITECTURE.md
mermaidSchemaCode.txt
overall.md
PRODUCTION_READINESS.md
misc